---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Card from '../../components/Card.astro';
import { getCollection } from 'astro:content';

const experiences = (await getCollection('experience'))
  .filter(experience => !experience.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="Experience">
  <div class="experiences">
    <h1 class="experiences-title">Experience</h1>
    {experiences.length === 0 ? (
      <p>No experience yet. Check back soon!</p>
    ) : (
    experiences.map((experience) => <>
      <Card card={experience} site_path='experience' />
      <hr class="experience-divider">
    </>)
    )}
  </div>
</BaseLayout>

<style>
  .experiences-title {
    position: relative;
    color: var(--accent);
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 15px;
    border-bottom: 3px dotted var(--accent);
  }
  
  .experiences-title::after {
    content: "";
    position: absolute;
    bottom: 2px;
    display: block;
    width: 100%;
    border-bottom: 3px dotted var(--accent);
  }

  .experience-divider {
    border: 1px solid white;
  }
</style>
