---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Card from '../../components/Card.astro';
import { getCollection } from 'astro:content';

const projects = (await getCollection('projects'))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="Projects">
  <div class="projects">
    <h1 class="projects-title">Projects</h1>
    {projects.length === 0 ? (
      <p>No projects yet. Check back soon!</p>
    ) : (
    projects.map((project) => <>
      <Card card={project} site_path='projects' />
      <hr class="project-divider">
    </>)
    )}
  </div>
</BaseLayout>

<style>
  .projects-title {
    position: relative;
    color: var(--accent);
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 15px;
    border-bottom: 3px dotted var(--accent);
  }
  
  .projects-title::after {
    content: "";
    position: absolute;
    bottom: 2px;
    display: block;
    width: 100%;
    border-bottom: 3px dotted var(--accent);
  }

  .project-divider {
    border: 1px solid white;
  }
</style>
